<template>
  <div id="app">
    <div class="container">
      <div class="selected left">
        <div class="selected_list">
          <button
            v-for="item in left_selected"
            :key="item.id"
            @click="left_unselect(item)"
          >
            {{ item.id }}
          </button>
        </div>
        <div class="info">
          Selected:
          <span v-for="item in left_selected" :key="item.id"
            >{{ item.id }} /
          </span>
        </div>
      </div>
      <div class="elements">
        <button v-for="item in left" :key="item.id" @click="left_select(item)">
          {{ item.id }}
        </button>
      </div>
    </div>
    <div class="container">
      <div class="selected right">
        <div class="selected_list">
          <button v-if="right_selected" @click="right_unselect(right_selected)">
            {{ right_selected.id }}
          </button>
        </div>
      </div>
      <div class="elements">
        <button
          v-for="item in right"
          :key="item.id"
          @click="right_select(item)"
        >
          {{ item.id }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
  data: () => ({
    left: [
      {
        id: 1,
        name: "Shoes 1",
      },
      {
        id: 2,
        name: "Shoes 2",
      },
      {
        id: 3,
        name: "Shoes 3",
      },
      {
        id: 4,
        name: "Shoes 4",
      },
      {
        id: 5,
        name: "T-shirt 1",
      },
      {
        id: 6,
        name: "T-shirt 2",
      },
      {
        id: 7,
        name: "T-shirt 3",
      },
      {
        id: 8,
        name: "T-shirt 4",
      },
    ],
    left_selected: [],
    right: [
      {
        id: 11,
        name: "Jacket 1",
      },
      {
        id: 12,
        name: "Jacket 2",
      },
      {
        id: 13,
        name: "Jacket 3",
      },
      {
        id: 14,
        name: "Jacket 4",
      },
      {
        id: 15,
        name: "Hoodie 1",
      },
      {
        id: 16,
        name: "Hoodie 2",
      },
      {
        id: 17,
        name: "Hoodie 3",
      },
      {
        id: 18,
        name: "Hoodie 4",
      },
    ],
    right_selected: null,
  }),
  methods: {
    right_select(item) {
      if (this.right_selected) {
        alert("можно выбрать только 1 вещь");
        return;
      }
      this.right = this.right.filter((e) => e.id !== item.id);
      this.right_selected = item;
    },
    right_unselect(item) {
      this.right.push(item);
      this.right_selected = null;
    },
    left_unselect(item) {
      this.left_selected = this.left_selected.filter((e) => e.id !== item.id);
      this.left.push(item);
    },
    left_select(item) {
      if (this.left_selected.length >= 6) {
        alert("можно выбрать от 1 до 6 вещей");
        return;
      }
      this.left = this.left.filter((e) => e.id !== item.id);
      this.left_selected.push(item);
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 400px;
  gap: 50px;
}
.selected,
.elements {
  border: 2px #000 solid;
}

.elements {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 50px;
  grid-auto-columns: 50px;
}

.selected {
  width: 60%;
  display: grid;
  grid-template-rows: 1fr 0.2fr;
}
.selected_list {
  display: grid;
  grid-auto-columns: 50px;
  grid-auto-rows: 50px;
  grid-auto-flow: column;
}
.right {
  justify-self: right;
}
.left {
  justify-self: left;
}

button {
  cursor: pointer;
}
</style>
